body {
    background-image: 
        linear-gradient(
            pink, purple
        );

    width: 100%;
    height: 100vh;
}

.container {
    margin: 20px 0px 20px 0px;
}

nav#nav-menu-container {
    display: flex;
    justify-content: space-around;
    padding-left: 20rem;
}

ul.nav-menu li {
    display: inline;
    margin: 10px 20px;
}

ul.nav-menu li a {
    position: relative;
    bottom: 10px;
    left: 10px;
    font-weight: 700;
    cursor: pointer;
    color: black;
}

ul.nav-menu li a:hover {
    color: #551b8b; 
}

label#email, label#username, label#password, label#confirm, label#major {
    color: #551b8b; 
}

div#major {
    width: 200px; 
}

.MuiPaper-root.MuiCard-root.registerForm.MuiPaper-elevation1.MuiPaper-rounded {
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
    border-radius: 5px;
    position: relative;
    z-index: 1;
    background: inherit;
    overflow: hidden;
    backdrop-filter: blur(30px);
}
div#info {
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
    border-radius: 5px;
    position: relative;
    z-index: 1;
    background: inherit;
    overflow: hidden;
    backdrop-filter: blur(30px);
    margin-top: 10px;
}

#game-container canvas {
    width: 80% !important;
}